//mod css

%bgbd {
  border: 1px solid $bdColor;
  border-radius: 4px;
}

.mod-bgbd {
  @extend %bgbd;
}

//.mod-filter {
  // display: flex;
  // flex-flow: row wrap;
  // align-items: center;
  // padding: 18px 10px 0;
//}

.mod-pagination {
  padding: 5px;
  text-align: right;
}

.calendar-tag {
  display: inline-block;
  min-width: 24px;
  padding: 0 5px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-size: 12px;
  // font-style: normal;
  color: #fff;
  border-radius: 4px;
  background: #67c23a;
  margin-right: 5px;
  vertical-align: bottom;

  &.full {
    background: red;
    font-style: normal!important;

    em {
      font-style: normal;
    }
  }
}

.mod-calendar {
  .dateCell {
    position: relative;
    height: 60px;
    padding: 0;

    .cell,
    span {
      display: block;
      width: 100%;
      height: 100%;
      line-height: 60px;
      padding: 0 !important;
      text-align: center;
      vertical-align: middle;

      &.disabled {
        background: #f8f8f8;
      }
    }

    .calendar-tag {
      position: absolute;
      top: 4px;
      right: 0;
    }
  }

  .info {
    margin-top: 10px;
    line-height: 20px;

    span {
      margin-right: 30px;
    }
  }
}

.el-icon-success {
  font-size: 16px;
  color: green;
}

.el-icon-error {
  font-size: 16px;
  color: red;
}

.mt10 {
  margin-top: 10px;
}
